body {font-size: 15px; line-height:28px; font-family:Verdana,"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif;}
html{}
::selection{ background-color:#FBFF69; color:#6059aa;}

@font-face {
	font-family: 'StMarieWebSCThin';
	src: url('../webfont_StMarie/stmarie-thin_web_sc-webfont.eot');
	src: url('../webfont_StMarie/stmarie-thin_web_sc-webfont.woff') format('woff'), url('../webfont_StMarie/stmarie-thin_web_sc-webfont.svg#webfonti6QgH8L5') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'StMarieWebThin';
	src: url('../webfont_StMarie/stmarie-thin_web-webfont.eot');
	src: url('../webfont_StMarie/stmarie-thin_web-webfont.woff') format('woff'), url('../webfont_StMarie/stmarie-thin_web-webfont.svg#webfontHNmhr3jr') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ===== replace bootstrap.min.css ===== */
.nav>li>a{position:relative;display:block;padding:12px 15px;}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{ margin-bottom:20px;}
.btn{min-width:120px;}
.row{/*margin-top:40px;*/}
.row-fix{margin:0px;}

.section { font-family:"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif; padding: 60px 100px;}
 
 
hr { margin:50px 0; border:0; height:5px; background-color:#d4d4d4; color: #d4d4d4; }

h3 {
    font-family:"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif; 
    font-size: 13px;
    color: #666666;
}

div.wrapper {
    /*height: 600px;*/
    width: 1000px;
    margin: 0 auto;
}

.arrow-down-wrapper {
	position:relative;
}

.arrow-down {
	width: 42px;
	height: 42px;
	background-image: url('../img/arrow_down.png');
	position:absolute;
	left: 47%;
	top: -70px;
    z-index: 10;
}
.arrow-down:hover
{ cursor: pointer; }

div.header {
    background-color: rgba(255,255,255,0.9);
    width:100%; /*padding:0 30px;*/
	height: 56px;
	position:fixed;
	z-index: 20;
}

div#header-blank {
	height: 55px; /*this should be the same as div.header*/
}

@font-face{font-family: myFirstFont; src: url('Courier.ttf'),url('Courier.eot'); /* IE9 */}
div.title {
    font-family: Courier;
    font-weight: bold;
    margin-left: 30px;
}

img#logo {
	margin-top: 10px;
}

div.title a:hover {
    text-decoration: none;
}

.title-left {
    color: #00569e;
    margin: 0;
    padding: 0;
}

.title-right {
    color: #4f40ae;
    margin: 0;
    padding: 0;   
}

.nav-div { margin:0 30px 0 0; height:60px;/*position:relative; top: -25px; left: 820px;*/   }


.main-section {
    height: 350px;
}

div#left-section {
    margin: 0 25px 0 60px;
    width: 470px;
}

div#right-section {
    margin: 0 60px 0 25px;
}

div.video {
    background-color: #ddd;
    font-size: 50px;
    width: 360px;
    height: 270px;
    margin: 25px auto;
}

.feature-box {
    margin-top: 15px;
}
            
.feature-title {
    font-family:"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif;
    font-size: 24px;
    color: #534c9f;
    padding-top: 5px;
    font-weight: bold;
}

.feature-detail { 
    font-family:"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif;
    font-size: 14px;
    color: #777777;
    font-weight: bold;
}

#home{background-color: #6059aa;}
#home h1 {font-family: 'StMarieWebSCThin', sans-serif; line-height:56px; font-weight:600; color:#fff; font-size: 60px;margin:40px 0 30px 0;}
#home h3 {
    color:#dfddf7; 
    font-family: 
    Verdana,"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif; 
    font-size:18px;
    font-weight:100;
    }


/* device slider */
.slider{width:263px; height:460px; margin:40px auto;}
.device-slider{ margin:0 auto; width:263px; height:460px; overflow:hidden; position:relative;}
.device-slider ul{ list-style:none; margin:0; padding:0; position:absolute;}
.device-slider li{}
.device-slider li img{ vertical-align:bottom; border:none;}
.slider-num{ width:46px; margin:0 auto; overflow:hidden;}
.slider-num ul{
    list-style:none; 
    margin:0; 
    padding:0; 
    width:263px; 
    margin:0 auto; 
}
.slider-num li{ 
    text-align:center; 
    margin:0 auto; 
    cursor:pointer; float:left; display:block; background:#8480ba; 
    width:12px; 
    height:12px; 
    -webkit-border-radius:12px; 
    -moz-border-radius:12px; 
    -o-border-radius:12px; 
    margin-right:8px; 
    text-indent:-9999px;
}

.num-hover{background:#bbb;}


#whatwedo{ background-color: #373458;}
#whatwedo .what-con{ margin-bottom:10px;}
#whatwedo .what-con h2 { 
    margin:0; padding:0; /*border-left:solid 4px #fff; padding-left:8px;*/ 
    color:#fff; 
    font-family: 'StMarieWebSCThin', sans-serif; 
    font-size:40px; 
    font-weight:800;
    letter-spacing:-0.03em; 
    margin-bottom:15px;}
#whatwedo .what-con h4 {color: #bbb; font-size: 15px; font-family:Verdana,"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif; line-height:20px;}
#whatwedo p{color: #bbb; font-size: 15px; line-height:24px;}
div.fix-margin{ margin-bottom:20px;}
.col-lg-5-fix{ width:46%; }
.row-col-lg-6-fix{ margin-bottom:30px;}

#usertest{background-color:#eee; padding:50px 150px;}
#usertest h2{ 
    color: #555555;
    width:800px; 
    margin:auto; 
    font-family: 'StMarieWebSCThin', sans-serif; 
    font-size: 48px; 
    font-weight:800; 
    letter-spacing:-0.03em;
    text-align: center;
    }
#usertest h3 {
    width:840px; 
    margin:auto; 
    padding:10px 0 25px 0;
    color: #666; 
    font-size: 15px; 
    line-height:26px; 
    font-family:Verdana,"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif; 
    text-align: center;
    }

#team{background-color:#6059aa;}
#team h2{ 
    width:800px; 
    margin:0 auto; 
    color:#dfddf7; 
    font-family: 'StMarieWebSCThin', 
    sans-serif; 
    font-size: 36px; 
    font-weight:800; 
    margin-bottom:60px;
    letter-spacing:-0.03em; 
    text-align:center;}

#team .member-name {
    color:#afabdb; 
    font-size: 15px;
    font-weight:200;
    letter-spacing:0.05em; 
    }
#team img {width: 140px;}

#footer img {/*margin-right: 5px;*/}

#value{ background-color:#9ac437;}
#value h2{
    margin:0; 
    padding:0; /*border-left:solid 4px #006C00; padding-left:8px;*/ 
    color:#356b00; 
    font-family: 'StMarieWebSCThin', 
    sans-serif; font-size: 40px; 
    line-height:48px; 
    margin-bottom:10px; 
    font-weight:800;
    letter-spacing:-0.03em;}

#value .value-con{ margin-top:30px; font-family:Verdana,"Helvetica Neue",Helvetica,Arial,Georgia,sans-serif;}
#value .value-con p { color:#356b00; font-size:15px; line-height:24px; }
#value .value-con h3 {color: #356b00; font-size:18px; margin-top:20px;}


.contact-section {margin-right: 50px;}

.contact-section label {color: #666;}

#footer{background-color: #262626; padding:40px 30px; height:160px;}
.social{ height:30px; float:left;}
.copyright { float:center;}
.copyright img{ float:center;}
.copyright span{ clear:both; display:block; margin-top:10px; font-family: Helvetica,Arial,sans-serif; line-height:40px; font-size:12px; color:#bdbdbd;}

/*div.footer {
    background-color: #4a494e;
    padding-top: 30px;
    padding-bottom: 60px;
}*/

/* CSS for services */
.service {
    margin-top: 30px;
    height: 350px;
}

.section-title {
    font-family: Arial;
    font-size: 26px;
    color: #373458;
    font-weight: bold;
}

.service-title{
    font-family: Arial;
    font-size: 20px;
    color: #666666;
}

.service-frame {
    background-color: #dbdae9;
    border-radius: 8px;
    margin-top: 30px;
    height: 300px;
    width: 420px;
    margin: 24px;
    padding: 24px 24px 40px 24px;
    float: left;
}



/* CSS modification for Bootstrap */

.form-horizontal .control-label {
    text-align: left;
    color: #777777;
}

.nav li a {
    font-family: Arial;
    color: #726399;
    font-size: 16px;
	border-bottom: 5px;
	border-color: transparent;
    border-bottom-style: solid;
	font-weight: bold;
}

.nav li a:hover {
    border-bottom: 5px #6059aa;
    border-bottom-style: solid;
    background-color: inherit;
    color: #726399;
    border-radius: 0;
}

.nav li a:active {
    border-bottom: 5px #6059aa;
    border-bottom-style: solid;
    background-color: inherit;
    color: #534c9f;
    border-radius: 0;
}

.nav li a.nav-clicked {
	border-bottom: 5px #6059aa;
	border-radius: 0;
	border-bottom-style: solid;
}





.css_btn_class {
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	/*border:1px solid #ffffff;*/
	padding:4px 17px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #7067cd), color-stop(100%, #544da1) );
	background:-moz-linear-gradient( center top, #7067cd 5%, #544da1 100% );
	background:-ms-linear-gradient( top, #7067cd 5%, #544da1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7067cd', endColorstr='#544da1');
	background-color:#7067cd;
	color:#ffffff;
	display:inline-block;
}.css_btn_class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #9a93e0), color-stop(100%, #544da1) );
	background:-moz-linear-gradient( center top, #9a93e0 5%, #544da1 100% );
	background:-ms-linear-gradient( top, #9a93e0 5%, #544da1 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9a93e0', endColorstr='#544da1');
	background-color:#9a93e0;
	
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#ffffff;
	text-decoration:none;
}.css_btn_class:active {
	position:relative;
	top:1px;
	
	font-size:14px;
	font-family:Arial;
	font-weight:normal;
	color:#bdbdbd;
	text-decoration:none;
	
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #544da1), color-stop(100%, #6f66cc) );
	background:-moz-linear-gradient( center top, #544da1 5%, #6f66cc 100% );
	background:-ms-linear-gradient( top, #544da1 5%, #6f66cc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#544da1', endColorstr='#6f66cc');
	background-color:#544da1;
	
	
}

.vote_btn_area {
    margin: 132px 0 0 120px;
}

#vote-link {
	color: #df3535;
}

.vote_description {
    font-size: 12px;
    color: #25285b;
    line-height: 14px;
}




